<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SKILLS</title>
</head>
<body>
    <header class="encabezado">
        <div class="principal">
            <img src="../../static/nav/images/acercade.jpeg" alt="acerca de mi">
            <h1>Django</h1>
            <h1>posgrest</h1>
            <h1>html</h1>
            <h1>css</h1>
        </div>   
    </header>
</body>
</html>