<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lázaro Flórez</title>
</head>
<body>
    <header class="encabezado">
        <div class="cuerpo-encabezado">
            <img src="../../static/nav/images/dasarrollador.jpg" alt="Desarrollador">
            <h1 id="titulo1">Lázaro Flórez</h1>
            <p id="parrafo">Es un desarrollador Back-End apasionado por la industria del software. Encantado de poder trabajar en proyectos trascendentales y de alto impacto; de tomar retos y desafios que parezcan imposibles de hacer pero que al final con una alta adaptabilidad y paciencia se pueda llevar a cabo.</p>
            <p>Deseo que podamos hacer un buen equipo juntos</p>
        </div>
    </header>
</body>
</html>